# Hello world program 
__CODE__                # start code segment
# PUSH the string Hello World! in reverse order.
# 0 indicates end of string.
PUSH   0                
PUSH  10                # new line.
PUSH '!'
PUSH 'D'
PUSH 'L'
PUSH 'R'
PUSH 'O'
PUSH 'W'
PUSH 32                 # space
PUSH 'O'
PUSH 'L'
PUSH 'L'
PUSH 'E'
PUSH 'H'
PUSH  Ah                # new line. (in hexadecimal).

:print                  # A label for decision making/looping.
PUSH 0
EQU
PUSH &end               # If top of stack is zero stop printing.
GOIF
POP                     # pop the 0.
WRTC                    # print the character.
PUSH &print             # loop.
GOTO

:end
