/* Hello world program */
PUSH  Ah
PUSH 21h
PUSH 44h
PUSH 4Ch
PUSH 52h
PUSH 4Fh
PUSH 57h
PUSH 20h
PUSH 4Fh
PUSH 4Ch
PUSH 4Ch
PUSH 45h
PUSH 48h
PUSH  Ah
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC