;_Hello_world_program
PUSH 0A
PUSH 21
PUSH 44
PUSH 4C
PUSH 52
PUSH 4F
PUSH 57
PUSH 20
PUSH 4F
PUSH 4C
PUSH 4C
PUSH 45
PUSH 48
PUSH 0A
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC
WRTC