# Simple loop implementation using labels
__CODE__
PUSH 10
PUSH  1
:start
DUP
WRTD
PUSH 2Ch # comma character 
WRTC
PUSH 20h # space character 
WRTC
EQU
jumpif end
PUSH  1
ADD
jump start
:end
PUSH 0Ah # newline
WRTC
