;_Checks_if_entered_number_is_odd_or_even
PUSH 02
READ
DIV
POP
PUSH 00
EQU
PUSH 18
GOIF
PUSH 0A
PUSH 64
PUSH 64
PUSH 4F
WRTC
WRTC
WRTC
WRTC
END
PUSH 0A
PUSH 6E
PUSH 65
PUSH 76
PUSH 45
WRTC
WRTC
WRTC
WRTC
WRTC
END