# Checks if entered number is odd or even 
__CODE__
PUSH 02h
READ
DIV
POP        # discard the quotient.
PUSH 00h 
EQU        # compare with 0.
PUSH &even
GOIF

# call print with argument Odd
PUSH &end
PUSH 0
PUSH 0Ah # new line
PUSH 'd'
PUSH 'd'
PUSH 'O'
PUSH &print
GOTO

:even
# call print with argument Even
PUSH &end
PUSH 0
PUSH 0Ah # new line
PUSH 'n'
PUSH 'e'
PUSH 'v'
PUSH 'E'
PUSH &print
GOTO

:end
END

##########    PRINT SUBROUTINE   ###########
:print                 
PUSH 0
EQU
POP                     # pop the 0.
PUSH &ret               # If top of stack is zero stop printing.
GOIF
WRTC                    # print the character.
PUSH &print             # loop.
GOTO

:ret
POP                     # POP the 0.
GOTO                    # TOS is return address, so go to it.
