# Checks if entered number is odd or even 
__CODE__
PUSH 02h
READ
DIV
POP
PUSH 00h
EQU
PUSH &even
GOIF
PUSH 0Ah
PUSH 64h
PUSH 64h
PUSH 4Fh
WRTC
WRTC
WRTC
WRTC
END
:even
PUSH 0Ah
PUSH 6Eh
PUSH 65h
PUSH 76h
PUSH 45h
WRTC
WRTC
WRTC
WRTC
WRTC
END